---
title: Sentry Service Broker for PCF (Beta)
owner: Partners
---

<p class="note warning"><strong>WARNING:</strong> The Sentry Service Broker for PCF tile is currently in beta and is intended for evaluation and test purposes only.
Do not use this product in a PCF production environment.</p>

This documentation describes the Sentry Service Broker for Pivotal Cloud Foundry (PCF). The Sentry Service
Broker for PCF enables you to automatically provision a Sentry SaaS account so you can more
seamlessly use Sentry on PCF.

## <a id='overview'></a>Overview

The Sentry Service Broker for PCF registers a service broker with PCF and exposes a free service plan on the
Marketplace. You can then create service plan instances using Apps Manager or the Cloud Foundry Command
Line Interface (cf CLI) and bind them to their apps.

## <a id='features'></a>Key Features

Sentry Service Broker for PCF includes the following key features:

* The ability to report PCF app errors to the Sentry error management platform
* Automated creation of Sentry SaaS account when service plan instance is created
* Single sign-on to Sentry via PCF Apps Manager dashboard

## <a id="snapshot"></a>Product Snapshot

<p class='note'><strong>Note:</strong> As of PCF v2.0, Elastic Runtime is renamed Pivotal Application Service (PAS).</p>

The following table provides version and version-support information about Sentry Service Broker for PCF.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Tile version</td>
        <td>0.0.1</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>April 5, 2018</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>Sentry Service Broker for PCF v0.0.1</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v2.0.x</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Application Service version(s)</td>
        <td>v2.0.X</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP, OpenStack, and vSphere</td>
    </tr>
</table> 

## <a id="limitations"></a>Limitations

* At this time, only free Sentry accounts are supported by the service broker.
  If you wish to upgrade your account, please reach out to [Sentry Cloud Foundry Support](mailto:cloudfoundry@sentry.io).
* In order to use the Sentry service broker, you will need to obtain Sentry API credentials. Please email
  us at [Sentry Cloud Foundry Support](mailto:cloudfoundry@sentry.io).

## <a id="feedback"></a>Feedback

If you have a feature request, questions, or information about a bug, please email
[Pivotal Cloud Foundry Feedback](mailto:cf-feedback@pivotal.io) list or send an email to
[Sentry Cloud Foundry Support](mailto:cloudfoundry@sentry.io).
