---
title: Installing and Configuring Sentry Service Broker for PCF
owner: Partners
---

This topic describes how to install and configure Sentry Service Broker for PCF.

##<a id='install'></a> Install and Configure Sentry Service Broker for PCF

1. Contact [Sentry Cloud Foundry Support](mailto:cloudfoundry@sentry.io) to obtain a
user, password, and URI for your tile instance to use with the Sentry API.

1. Download the product file from Pivotal Network.

1. Navigate to the Ops Manager Installation Dashboard and click **Import a Product** to upload the product file.

1. Under the **Import a Product** button, click **+** next to the version number of Sentry Service Broker for PCF.
This adds the tile to your staging area.

1. Click the newly added **Sentry Service Broker for PCF** tile.
    ![](install-1.png)

1. Click on "Broker Settings" and enter the URI, username and password you obtained by contacting us in step 1.
    ![](install-2.png)

1. Click **Save**.

1. Return to the Ops Manager Installation Dashboard and click **Apply changes** to install Sentry Service Broker for PCF tile.
