---
title: Release Notes for Sentry Service Broker for PCF
owner: Partners
---

These are release notes for Sentry Service Broker for PCF.

##<a id="ver"></a> Version 0.0.1

**Release Date:** March 28, 2018

Features included in this release:

* The ability to report PCF app errors to the Sentry error management platform
* Automated creation of Sentry SaaS account when service plan instance is created
* Single sign-on to Sentry via PCF Apps Manager dashboard
