---
title: Using Sentry Service Broker for PCF
owner: Partners
---

This topic describes how to use Sentry Service Broker for PCF.

##<a id='using'></a> Using Sentry Service Broker for PCF

TODO: Explain activating the service, binding to an application.
